:root{
	--font-size-base: 15px;
	--font-size-xs: 6px;
	--font-size-s: 8px;
	--font-size-m: 15px;
	--font-size-l: 36px;

	--color-primary: #fff;
	--color-secondary: #000;
	--color-accent1: #f3f9ff;
	--color-accent2: #ba1200;
	--color-accent3: #031927;

	

}